﻿@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>
<img class="alignright" src="http://peculiar-motion.com/wp-content/uploads/2013/01/971272_10106921741840785_5466904446673019200_n.jpg" alt="971272_10106921741840785_5466904446673019200_n" width="330" height="220">
<p>
    Hi! My name is Matt Barr – software developer, game dev enthusiast, and Harry Potter fanatic. Peculiar Motion was created to share insights into my work as a creative software developer. I like to generate discussion regarding data-driven development, virtual reality, game design, and various other tech topics by offering up some samples or other tidbits related to my personal experiences.
    <br /><br />
    I am a .NET developer by trade, a game development enthusiast with 5+ years of Unity experience, and a VR early-adopter (read: addict). I love experimenting with new technologies including WebGL, computer vision, and Arduino.
    <br /><br />
    Have questions? Want to suggest a discussion topic? Feel free to contact me at <a href="matt.barr@peculiar-motion.com">matt.barr@peculiar-motion.com</a>.
</p>
