﻿@{ 
    ViewBag.Title = "Blog";
    BarrCodes.Models.BlogPost post = ViewBag.Post;
}

<div class="row">
    <div class="col-xs-12">
        <h1>@post.Title</h1>
        <p>Posted on @post.DatePosted.ToString("MMMM dd, yyyy")</p>
        <p>@Html.Raw(ViewBag.Post.Content)</p>
    </div>
</div>
