﻿@model IEnumerable<BarrCodes.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
    var isAdmin = User.IsInRole("Admin");
}

<br />

@if (isAdmin)
{
    <h4>@Html.ActionLink("Create New Post", "Create", "BlogPosts")</h4>
}

@foreach (BarrCodes.Models.BlogPost post in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><b>@post.Title</b></h4>
            <h6>@post.DatePosted.ToString("M/d/yyyy")</h6>
        </div>
        <div class="panel-body">
            <p>@Html.Raw(post.Snippet)</p>
            <div class="btn-group">
                @Html.ActionLink("Read More", "Detail", "Blog", new { postID = post.ID }, new { @class = "btn btn-default" })
                @if (isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", "BlogPosts", new { id = post.ID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "BlogPosts", new { id = post.ID }, new { @class = "btn btn-primary" })
                }
            </div>
        </div>
    </div>
}

@{ 
    Html.RenderPartial("PageStepperPartial");
}