﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

footer{
  background-color: #f5f5f5;
}

.detail-menu {
    list-style: none;
    padding: 0;
}

.detail-menu li {
    display: inline;
    padding-right: 16px;
}

.alignright{
    float: right;
}

.modal .close{
    margin-top: -21px;
}