﻿@* Image Picker *@
<div class="modal fade" id="imagePickerModal" tabindex="-1" role="dialog" aria-labelledby="imagePickerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagePickerModalLabel">Image Picker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button id="openUpload" class="btn btn-default"><span class="glyphicon-plus"></span> Upload</button>
                @* Add selectable image grid... *@
                ...
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                <button id="imagePickerSubmit" type="button" class="btn btn-primary" value="InsertImage">Insert</button>
            </div>
        </div>
    </div>
</div>

@* Image Uploader *@
<div class="modal fade" id="imageUploaderModal" tabindex="-1" role="dialog" aria-labelledby="imageUploaderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageUploaderModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                <button id="imageUploaderSubmit" type="button" class="btn btn-primary" value="InsertImage">Upload</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var pickerModal = $("#imagePickerModal");
        var uploaderModal = $("#imageUploaderModal");

        $("#openUpload").click(function (event) {
            pickerModal.modal("hide");
            uploaderModal.modal("show");
        });
    </script>
}